.hide{
    display:none;
}
body {
    font-family: Rboto, Arial, sans-serif;
}
#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
}
figure{
    background-color: grey;
    min-height: 300px;
    border: 1px solid black;
    padding: 1rem;
}
header{
    display: flex;
    flex-direction: row;
}
header select{
    width: 150px;
}
figure{
    border-radius: 25px;
    background-color: grey;
    color: white;
    border: none;
}
@media screen and (max-width: 759px) {
    header{
        display: flex;
        flex-direction: column;
    }
}