.hide{
    display:none;
    /* opacity:0; hides things but retains it's space */
}
article{
    border:2px solid red;
    margin:1rem;
    padding-left: 10px;
}
#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    grid-gap: 1rem;
}
figure{
    background-color: grey;
    min-height: 300px;
    border: 1px solid black;
    padding: 1rem;
}
#fiterOptions{
    display: flex;
    flex-direction: column;
}
#fiterOptions select{
    width: 150px;
}